@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ul {
        @apply list-disc w-3/4 mx-auto text-justify;
    }
    p {
        @apply text-justify my-2 leading-relaxed;
    }

    h1 {
        @apply text-3xl font-bold my-4;
    }

    h2 {
        @apply text-2xl font-bold my-4;
    }

    h3 {
        @apply text-xl font-bold my-4;
    }

    .katex {
        @apply overflow-auto py-1;
    }

    article {
        /* font-family: "Fira Code"; */
    }
    .card-title {
        font-family: "Fira Code";
        font-weight: 700;
    }
}
.ProseMirror:focus {
    outline: none;
}

.tiptap {
    > * + * {
        margin-top: 0.75em;
    }
    hr {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    ul,
    ol {
        padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0d0d0d;
        color: #fff;
        font-family: "Fira Code", monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0d0d0d, 0.1);
    }
    p {
        margin: 0 !important;
    }
}
.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.grecaptcha-badge {
    visibility: hidden;
}
